build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/PKG-00.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
dist/win/shuttle-collapse.exe
dist/win/anim/player/gun.png
dist/win/anim/player/idle/0.png
dist/win/anim/player/idle/1.png
dist/win/anim/player/jump/0.png
dist/win/anim/player/walk/0.png
dist/win/anim/player/walk/1.png
dist/win/anim/player/walk/2.png
dist/win/anim/player/walk/3.png
dist/win/anim/player/walk/4.png
dist/win/anim/player/walk/5.png
dist/win/anim/player/walk/6.png
dist/win/font/OZOBAROF PERSONAL USE.ttf
dist/win/images/boulder_0.png
dist/win/images/boulder_1.png
dist/win/images/boulder_2.png
dist/win/images/boulder_3.png
dist/win/images/boulder_cold.png
dist/win/images/boulder_hot.aseprite
dist/win/images/boulder_hot.png
dist/win/images/boulder_hot.png~
dist/win/images/boulder_normal.png
dist/win/images/bullet.png
dist/win/images/core.png
dist/win/images/ground.png
dist/win/images/help_button.png
dist/win/images/play_button.png
dist/win/images/quit_button.png
dist/win/images/space.png
dist/win/images/spaceshipbg.png
dist/win/images/surface.png
dist/win/images/title.png
dist/win/images/title.png~
dist/win/map/map1.txt
dist/win/map/map1bg.txt
dist/win/music/loop.wav
dist/win/music/music.wav
dist/win/music/start.wav
dist/win/sounds/buff.wav
dist/win/sounds/click.wav
dist/win/sounds/destroy.wav
dist/win/sounds/explosion.wav
dist/win/sounds/gameover.wav
dist/win/sounds/hit.wav
dist/win/sounds/Jump.wav
dist/win/sounds/select.wav
dist/win/sounds/shoot.wav
